body {
background-attachment: fixed;
background-color: rgb(0, 0, 0);
background-image: linear-gradient(180deg, #000000 0%,rgba(108, 61, 182, 0.41) 100%);
}
.main {
  margin-top: 5.5em;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  list-style-type: none;
}
.heading{
  width: 95%;
  align-items: center;
  list-style-type: none;
}
.heading h1{
font-family: "Trirong", serif;
font-weight:500;
font-size: 3.125rem;
line-height: 4rem;
letter-spacing: 0.625rem;
color: #FFFFFF;
background: linear-gradient(to right,#8c44ca 10%, #6643bf 50%, #9921b8 60%);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-emphasis-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 1.5s linear infinite;
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
.heading img
{
  width: 23.75rem;
  height: 23.75rem;
  border-radius: 11.875rem;
  margin-top: 2rem;
}
.heading img:hover {
  -ms-transform: scale(1.05); 
  -webkit-transform: scale(1.05); 
  transform: scale(1.05); 
}
h2 {
margin-top: 3.5em;
font-family: "Trirong", serif;
font-weight:700;
font-size:2.8125rem;
line-height: 5.8125rem;
color: #FFFFFF;
}
.inner {
list-style-type: none;
align-items: center;
}
p {
font-family: "Trirong", serif;
font-weight:500;
font-size:1.25rem;
line-height: 2.1875rem;
color: #FFFFFF;
}
.contactme img:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}
.contactme {
  display: flex;
  flex-flow: row;
  justify-content:left;
  list-style: none;
  margin-top: 4rem;
  padding-left: 0px;
} 
.contactme img {
  min-width: 2.5rem;
  min-height: 2.5rem;
  display:block;
  padding: 1rem;
} 
.end {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
@media all and (max-width: 800px) {
  .main {
    justify-content: space-around;
  }
}
@media all and (max-width: 500px) {
  .main {
    flex-flow: column;
    align-items: center;
  }
  .heading h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .end{
    align-items: center;
  }
  .heading img
{
  width: 21rem;
  height: 21rem;
  border-radius: 10.5rem;
  margin-top: 2rem;
}
.contactme {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: left;
  margin-top: 4rem;
} 
}

