body {
box-sizing: border-box;
position: relative;
width: 1480px;
height: 807px;
background-color: rgb(0, 0, 0);
background-image: linear-gradient(180deg, #000000 0%, rgba(102, 65, 162, 0.41) 100%);
border: 1px solid #000000;}
.main {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  list-style-type: none;
}
.heading{
  width: 90%;
  align-items: center;
  list-style-type: none;
}
.heading h1{
font-family: "Trirong", serif;
font-weight:500;
font-size: 50px;
line-height: 64px;
letter-spacing: 10px;
color: #FFFFFF;
background: linear-gradient(to right,#8c44ca 10%, #6643bf 50%, #9921b8 60%);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-emphasis-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 1.5s linear infinite;
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
.heading img
{
  width: 380px;
  height: 380px;
  border-radius: 190px;
  margin-left: 4.5em;
  margin-top: 2em;
}
.heading img:hover {
  -ms-transform: scale(1.05); 
  -webkit-transform: scale(1.05); 
  transform: scale(1.05); 
}
h2 {
margin-top: 3.5em;
font-family: "Trirong", serif;
font-weight:700;
font-size:45px;
line-height: 93px;
color: #FFFFFF;
margin-left: 1.2em;
}
.inner {
  list-style-type: none;
}
p {
font-family: "Trirong", serif;
font-weight:500;
font-size:20px;
line-height: 35px;
color: #FFFFFF;
width: 75%;
margin-left: 2.8em;
}
.contactme img:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}
.contactme {
  display: flex;
  flex-flow: row;
  list-style: none;
  margin-top: 4em;
} 
.contactme img {
  min-width: 40px;
  min-height: 40px;
  display:block;
  padding: 1em;
} 
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 2em; 
}
.navigation a {
  font-size:larger;
  font-family: "Trirong", serif;
  text-decoration: none;
  display:block;
  padding: 1em;
  color: white;
}
.end {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}
@media all and (max-width: 800px) {
  .main {
    justify-content: space-around;
  }
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 500px) {
  .main {
    flex-flow: column wrap;
    align-items: center;
  }
  .navigation {
    flex-flow: column wrap;
    align-items: center;
  }
}
.navigation a:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

